/*------------------------main-structures--------------------------*/
/*-----------------------------body-------------------------------*/
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(211, 208, 208);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat ;
  color:black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1{
  margin: 10px;
  text-align:center;
  font-size: 70px;
  font-weight: bold;
  font-family:'Tangerine', serif;
  text-shadow:5px 5px whitesmoke ; 
}

h2{
  font-family:'Tangerine', serif;
  text-shadow:5px 5px whitesmoke ;
  text-align: center;
  font-size: 50px;
  color:black;
  margin: 60px ;
  border-radius: 20px;

}


a{
  color:white;
  text-decoration:none;
  text-transform: uppercase;
  font-size: medium;
  font-weight:500;
  padding:5px 10px;
  transition:3;

}

#indeX{
  margin: 5px;
  font-size: 12px;
}
.code-wrap{
  text-align:left;
  background-color: #f1f1f1;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

#code{
  text-align: left;
  text-align: justify;
}

#processes{
  text-decoration: underline 2px black;
  font-size: 18px;
}

/*----------------------page-link-buttons----------------------------*/

button{
  justify-items: space-around;
  background-color:black;
  letter-spacing: 0.3px; 

}

.nav {
  margin: 10px;
  height: auto;
  text-align: center;
 
  
}


/*-----------------------footer-index----------------------*/

footer{
  margin-block-end: auto;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-top: 300px;    
}

.toe{
  text-align: justify;
  
}

/*------------blog/panes/links-for-home-page-index----------------*/

#blOg{
  font-weight: bold;
  color: black;
  font-size: 20px;
  text-align: center;
}

.blog{
  display: grid;
  margin-left: 75px;
  margin-right: 75px;

}

.bt:hover{
  transform: scale(1.1);

}

#links{
  background-size:contain;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7iKjl9w1EEiOGZ6pjeVLubLLikINDlN7EUy6U6V0dlHir8kOZVNBoRMNBYNiPqALAIIE&usqp=CAU

  );

}

#links2{
  background-size:contain;
  background-image: url(https://i.pinimg.com/736x/f2/bf/d1/f2bfd1d26802dcb277afa2f953ad69d9.jpg
);

}

#links3{
  background-size:contain;
  background-image: url(https://cdna.artstation.com/p/assets/images/images/024/216/918/large/lincoln-moa-received-2673692842852266.jpg?1581682617

  );

}

h4 {
   font-weight: 900;
  margin:auto ;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Lora', serif;

}

h5{
  font-weight: 900;
  margin:auto ;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 30px;
  font-family: 'Lora', serif;

}


/*-------------------------identity-values-------------------------------- */

.head{
  margin: 10px;
  text-align:center;
  font-size: 150px;
  font-family:'Tangerine', serif;
  text-shadow:5px 5px whitesmoke ;
  
}

.value{
  background-color: black;
  font-family: 'Lora', serif;
  text-align: center;
  margin: auto;
  width: 80vw;
  margin-top: 10px; ;
  margin-bottom: 40px;
  font-size: 1vmax;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;

}

.h2{
  margin-bottom: 10px;
  margin-top: 60px;
  text-align:center;
  font-size:70px;
  font-family:'Tangerine', serif;
  text-shadow:5px 5px whitesmoke ;

}

.gap{
  margin-top: 40px;

}

.h3{
  font-weight: 600;
  font-size: 20px;
  color: white;

}

.core{
  color: white;
  font-size: 17px;
  
}

/*------------------ Ko wai au -------------------------*/

.whanau{

  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  width: 30vw;
  max-width: 100%;
  border: 5px solid black; 
  border-radius: 10%;;

}

.img{
  
  width: 200px;
  height: 200px;
  max-width: 100%;
  height: auto;
  border: 5px solid black; 

}


.who{
  font-size:20px;
  font-weight: 600px;
  text-align: center;

}

.whoam{
  margin:10px;
  text-align: center;
  text-align: justify;
  display: block;
  color: black;
  
}

.paragraph{ 
  border: 2px solid black;
  margin:10px;
  box-sizing: content-box;
  text-align: justify ;
  
}

/*---------------html-css---diffrence-of-m/b/p--------------------*/

.body{
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://zellwk.com/images/2014/02/box-sizing.jpg 
  );
  margin: 20px;
  
}

.dif{
  margin-top: 10px;

}

.overview{
  contain: content;
  margin-top: 50px;
  border: 10px solid black;

}


.mbp{
  margin-left:100px ;
  margin-right: 100px;
  padding-left:50px ;
  padding-right:50px ;
  color:black;  

}
.mbp2{
  width: 200px;
  height: 200px;
  max-width: 100%;
  height: auto;
  border: 5px solid black; 

}

.radius{
  align-content: center;
  margin:10px;
  
}

h6{
  align-content: center;
  color: blanchedalmond;
  background-color: black;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  margin:80px;
  margin-left: 25%;
  margin-right: 25%;
  border: 2px solid yellow;

}



  

.section{
  box-sizing:border-box ;
  text-align: justify;
  margin-top: 50px;
  border: 10px solid black;
  
}

/*-----------------------learning plan-----------------------------*/

.learning{
  background-image: url(https://media.istockphoto.com/id/1094922834/vector/binary-background.jpg?s=612x612&w=0&k=20&c=OEGamSEXekm5Q0dRGa1U4DtzgIS_Zq1cCjhjM3D0EWI=
 )!important;
 background-size: cover; 

}

.two{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  padding:10px ;
  background-color: white;
  font-size: 50px;
  font-weight: bold;
    
}

.sec{
  margin: 20px;
  padding:20px ;
  background-color: white;
  border: 5px solid black ;
}

#path{
  text-decoration: 2px black underline;
  
}

#Journey{
  margin-top: 0;
  margin-bottom: 8px;
}
.sec2{
  margin: 20px;
  padding:5px ;
  background-color: white;
  
}

#path2{
  font-size: 20px;
  text-decoration: 2px black underline;
  
}

.linkTo{
  margin-left:35%;
  margin-right:35%;
}

/*--------------JAVA-DOM------------------*/
.head{
  background-image:url(https://www.w3schools.com/js/pic_htmltree.gif
  ) ;
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 75px;
  margin: auto;
  padding: auto;
  
}

#heaD{
  font-size: 70px;
  font-family: fantasy;
  text-align: center;
}

#Border{
  margin: 10px 15px 10px 15px;
  border: 2px solid black ;
}

#head2{
  font-family:fantasy ;
  font-size: 50px;
}

#java{
  margin:5px 10px 5px 10px;
  text-align: center;
  font-family: fantasy;
  font-weight: bold;
  font-size:18px;
}

/*-------------------------EQ*----------------------------------*/
#title{
  text-align: center;
  margin:10px ;

}

.sneaky{
  align-items: center;
  margin: 10px;
  margin-top:5px ;
  margin-bottom:30px ;
}

.Head{
  background-position: left;
  background-repeat: no-repeat;
  background-position: fixed;
  background-color:white;
  text-align: center;
  font-size: 75px;
  margin: auto;
  padding: auto;
  
}

#emotion{
  height:350px;
  background-color: white;
  margin:10px;
  border-top:4px solid black ;
  background-image: url(https://assets.neurosurgicalatlas.com/volumes/ATLAS/0.5-NOTSN/08-Emotional_Intelligence/NOTSN_Emotional_01.jpg
  );
  background-size: 300px 300px;
  background-position: left;
  background-repeat: no-repeat;
  background-position: fixed;
  
}

#Emotion{
  background-attachment: fixed;
  padding-left: 350px;
  margin:10px;
  font-size: 17px;
  font-weight: bolder;
  font-family: sans-serif;
}

#intel{
  text-align: right;
  font-size: 45px;
  font-family: serif;
  text-shadow: none;
}

#Quotient{ 
  height: 200px;
  margin:10px;
  border-top:4px solid black ;
  border-bottom:4px solid black ;
  background-image: url(
    https://i.ytimg.com/vi/TYDUZIP2lSg/maxresdefault.jpg
  );
  background-size: 200px 200px;
  background-position: right;
  background-repeat: no-repeat;
  background-position: fixed;
  background-color: white;
 
}

#Intelligence{
 text-align: left;
 font-family: serif;
 text-shadow: none;
}

#quo{  
  box-sizing: border-box;
  word-wrap: break-word;
  margin:10px;
  margin-right: 250px;
  text-align: left;
  font-size: 17px;
  font-weight: bolder;
  font-family: sans-serif;
}

#compare{
  height: 300px;
  margin:10px;
  background-image: url(
    
  );
  background-size: 250px 250px;
  background-position: right;
  background-repeat: no-repeat;
  background-position: fixed;
  background-color: white;

}

#com{
  box-sizing: border-box;
  word-wrap: break-word;
  margin:10px;
  text-align: center;
  font-size: 17px;
  font-weight: bolder;
  font-family: sans-serif;
}

/*-------------neuroplasticity-----------*/
.Neuro{
  background-color:white;
}

#understanding{
  margin-top: 0px;
  text-decoration: underline solid black; 
  text-underline-position: under;
  font-size: 50px;
  font-family: italic;
  text-shadow: none;
}

.Understand{
  border: 2px solid lightblue;
  margin: 10px;
}

#Para{
  text-align: justify;
  font-weight: bold;
  color: black;
  margin: 10px;
}

.image-container{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center
}

#engage{
  margin-top: 0px;
  text-decoration: underline solid black; 
  text-underline-position: under;
  font-size: 50px;
  font-family: italic;
  text-shadow: none;
}

.centered-header {
  text-align: center;
  margin-bottom: 10px; 
}

#Engage{
 word-spacing: 1.5mm;
}

#img{
  width: 400px;
  height: 400px;
}
/*link to resources*/
#link-to{
  background-color: red;
  border: none;
  border-radius:18px;
  transition: 0.15s;
}

#link-to:hover{
  background-color: black;
}

#link-to:active{
  opacity: 0.7;
}

/*------------------MEDIA------------------*/

@media (min-width: 100px){
  
}

@media (max-width: 800px){
  
}